<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--header-->
<div th:fragment="header">
    <div class=" text-center bg-light">
		<div class="card-header bg-light">
			<ul class="nav nav-pills card-header-pills">
				<li class="nav-item"><a class="nav-link" href="/eating/form">식단관리</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">운동관리</a></li>
				<li class="nav-item"><a class="nav-link" href="/sleep/form">수면관리</a></li>
				<li class="nav-item"><a class="nav-link" href="#">개인관리</a></li>
				<li class="nav-item"><a class="nav-link" href="/board/list">식사추천</a></li>
				<li class="nav-item"><a class="nav-link active w3-display-topright"
					href="http://localhost:9999/loginForm">로그인</a></li>
			</ul>
		</div>
	</div>
</div>
<!--/header-->
</html>