<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Board Form</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div th:replace="layout/header::header"></div>

    <div class="container">
        <div class="page-header">
            <h1>게시글 등록</h1>
        </div>
        <br/>
        <input id="board_idx" type="hidden" th:value="${board?.id}"/>
        <input id="board_create_date" type="hidden" th:value="${board?.wdate}"/>
        <table class="table">
            <tr>
                <th style="padding:13px 0 0 15px">게시판 선택</th>
                <td>
                    <div class="pull-left">
                            <span th:value="notice" th:if="${board?.boardType?.name() == 'notice'}">공지사항</span>
                            <span th:value="free" th:if="${board?.boardType?.name() == 'free'}">자유게시판</span>
                    </div>
                </td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">생성날짜</th> <!-- ? ${#temporals.format(board.wdate,'yyyy-MM-dd HH:mm')} : ${board?.wdate} -->
                <td><span class="col-md-1 " th:text="${board?.wdate}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">제목</th>
                <td><span class="col-md-1" th:text="${board?.title}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">부제목</th>
                <td><span class="col-md-1" th:text="${board?.subTitle}"/></td>
            </tr>
            <tr>
                <th style="padding:13px 0 0 15px;">내용</th>
                <td><span class="col-md-1" th:text="${board?.content}"/></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
        <div class="pull-left">
            <a href="/board/list" class="btn btn-default">목록으로</a>
        </div>
        <div class="pull-right">
        	<a class="btn btn-danger" th:href="'/board/updat/?id='+${board.id}">수정</a>
            <button th:if="${board?.id}" type="button" class="btn btn-danger" id="delete">삭제</button>
        </div>
    </div>

    <div th:replace="layout/footer::footer"></div>

    <script th:src="@{/js/jquery.min.js}"></script>
    
    <script th:if="${board?.id}">
        $('#delete').click(function () {
            $.ajax({
                       url: "http://localhost:9999/board/delete/" + $('#board_idx').val(),
                       type: "DELETE",
                       success: function () {
                           alert('삭제 성공!');
                           location.href = '/board/list';
                       },
                       error: function () {
                           alert('삭제 실패!');
                       }
                   });
        });
    </script>
</body>
</html>